<div class="container">


    <div class="panel-body">
        <!--TODO #1 create the select element-->
        <select ng-model="color" ng-options="color.text for color in colors track by color.text" ng-change="changeColor()"></select>
        <span ng-class = "newcolor">TEXT</span>
        <br>
        <!--TODO #4-->
    </div>

    <p>---------------------------</p>
    Input1: <input name="color" ng-model="colorType">
    Input2: <input name="color2" ng-model="colorType2">
    <div ng-repeat="color in colors | filter: colorType | orderBy: colorType2">
        color.text:{{color.text}}
    </div>

    <!--TODO #8-->

</div>