<div ng-controller="DescriptionController">
    <div class="container">
        <div class="jumbotron" ng-hide="descriptionShow">
            <h1>{{title}}</h1>
            <p class="lead">
                <span>{{myVar1}}</span>
            </p>
            <p class="lead">
                <span>{{myVar2}}</span>
            </p>
        </div>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="toggleDescriptionShow()">Show/Hide Description</a>
        </p>
    </div>
</div>
