<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel = "stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel = "stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
        <body>
        <h1>Sample Application</h1>
        <div ng-app="hrApp">
            <div ng-controller="MainController">
                <p>Enter your Name: <input type="text" ng-model="name"></p>
                <p>Hello <span ng-bind="name"></span></p>
            <ul>
                <div ng-repeat="object in carList">
                    <span>
                        {{object.type}}
                    </span>
                    <span>
                        {{object.model}}
                    </span>
                </div>
            </ul>
            </div>
            <div ng-include="'views/second.html'"> </div>

        </div>
        <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="Scripts/app.js"></script>
        <script type="text/javascript" src="Scripts/MainController.js"></script>
        <script type="text/javascript" src="Scripts/DescriptionController.js"></script>
<!--        <script type="text/javascript" src="Scripts/ScopesController.js"></script>
        <script type="text/javascript" src="Scripts/MenuController.js"></script>-->
        </body>
</html>